@utility typo-head-lg-r {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}
@utility typo-head-lg-m {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}
@utility typo-head-lg-b {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

@utility typo-head-md-r {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
}
@utility typo-head-md-m {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}
@utility typo-head-md-b {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}

@utility typo-head-sm-r {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
@utility typo-head-sm-m {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
@utility typo-head-sm-b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

@utility typo-title-lg-r {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
@utility typo-title-lg-m {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}
@utility typo-title-lg-b {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

@utility typo-title-md-r {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
@utility typo-title-md-m {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
@utility typo-title-md-b {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

@utility typo-text-lg-r {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
@utility typo-text-lg-m {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
@utility typo-text-lg-b {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

@utility typo-text-md-r {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
@utility typo-text-md-m {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
@utility typo-text-md-b {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

@utility typo-text-sm-r {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
@utility typo-text-sm-m {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
@utility typo-text-sm-b {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

@utility typo-caption-1-r {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
@utility typo-caption-1-m {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}
@utility typo-caption-1-b {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

@utility typo-caption-2-r {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}
@utility typo-caption-2-m {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}
@utility typo-caption-2-b {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
}

@utility text-head-lg-r {
  @apply typo-head-lg-r;
}
@utility text-head-lg-m {
  @apply typo-head-lg-m;
}
@utility text-head-lg-b {
  @apply typo-head-lg-b;
}
@utility text-head-md-r {
  @apply typo-head-md-r;
}
@utility text-head-md-m {
  @apply typo-head-md-m;
}
@utility text-head-md-b {
  @apply typo-head-md-b;
}
@utility text-head-sm-r {
  @apply typo-head-sm-r;
}
@utility text-head-sm-m {
  @apply typo-head-sm-m;
}
@utility text-head-sm-b {
  @apply typo-head-sm-b;
}
@utility text-title-lg-r {
  @apply typo-title-lg-r;
}
@utility text-title-lg-m {
  @apply typo-title-lg-m;
}
@utility text-title-lg-b {
  @apply typo-title-lg-b;
}
@utility text-title-md-r {
  @apply typo-title-md-r;
}
@utility text-title-md-m {
  @apply typo-title-md-m;
}
@utility text-title-md-b {
  @apply typo-title-md-b;
}
@utility text-text-lg-r {
  @apply typo-text-lg-r;
}
@utility text-text-lg-m {
  @apply typo-text-lg-m;
}
@utility text-text-lg-b {
  @apply typo-text-lg-b;
}
@utility text-text-md-r {
  @apply typo-text-md-r;
}
@utility text-text-md-m {
  @apply typo-text-md-m;
}
@utility text-text-md-b {
  @apply typo-text-md-b;
}
@utility text-text-sm-r {
  @apply typo-text-sm-r;
}
@utility text-text-sm-m {
  @apply typo-text-sm-m;
}
@utility text-text-sm-b {
  @apply typo-text-sm-b;
}
@utility text-caption-1-r {
  @apply typo-caption-1-r;
}
@utility text-caption-1-m {
  @apply typo-caption-1-m;
}
@utility text-caption-1-b {
  @apply typo-caption-1-b;
}
@utility text-caption-2-r {
  @apply typo-caption-2-r;
}
@utility text-caption-2-m {
  @apply typo-caption-2-m;
}
@utility text-caption-2-b {
  @apply typo-caption-2-b;
}

.font-12-400 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.font-14-400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.font-15-400 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.font-15-500 {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

.font-15-600 {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
}

.font-15-700 {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.font-18-400 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.font-18-500 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.font-18-600 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.font-18-700 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.font-21-700 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.42px;
}

.font-24-700 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.font-25-700 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

.font-27-700 {
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.54px;
}

.font-28-700 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.56px;
}

.font-36-700 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
